<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Ajio.com | Shop Online the Latest Fashion in apparels brands in India |
      Reliance Ajio.com
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://image.apktoy.com/img/e6/com.ril.ajio/icon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="view/public/styles/nav.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <section id="nav"></section>
    <section id="sec_ban_mains"></section>
    <section>
      <div id="al" class="img_sl_in"></div>
      <div id="bla" class="img_sl_in_rep"><div id="cla" class="arr"></div></div>
    </section>
  </body>
</html>
<style></style>
<script>
  
</script>

<script type="module">
  // navbar
  import navbar from '/view/public/js/nav.js'
  document.getElementById('nav').innerHTML = navbar()
  //banner
  import banner from '/view/public/js/ban.js'
  document.getElementById('sec_ban_mains').innerHTML = banner()
</script>
<script type="text/javascript" src="/view/public/js/slider.js"></script>
